tr {
   border-collapse: collapse;
    font-family: Verdana;
}
td:first-child{
    width: 50px;
}
td {
    width: 100px;
    border-bottom: 1px solid white;
}
tr:nth-child(odd) {
    background-color: #81CFE0;
    color: white;

}
tr:nth-child(even) {
    background-color: #e06464;
    color: white;
}